.quick-info {
  font-size: 1.15em;
}

.bid {
  margin-bottom: 50px !important;
}

.bid-title {
  margin-bottom: 10px !important;
}

h5.bid-description-title {
  margin-top: 45px !important;
}

h5.bid-details-title {
  margin-top: 35px !important;
}
